@import './base.css';

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--pale-grey-two);
}

.main-wrapper {
  position: relative;
  left: 229px;
  padding: 25px;
  padding-top: 0;

  width: calc(100vw - 229px);
}

a {
  text-decoration: none;
}

.block-wrapper {
  margin: 25px 0;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0 var(--black-7);
  border: solid 1px var(--pale-grey);
  background-color: #fff;
  width: 100%;
}

.block-wrapper.with-padding {
  padding: 20px 25px 20px 25px;
}

.button {
  outline: none;
  appearance: none;
  border: none;
}

.btn-primary {
  padding: 10px 15px 10px 10px;
  border-radius: 5px;
  background-color: #2f8cff;
  font-family: MyriadPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.btn-primary svg {
  fill: var(--light-navy);
  margin-right: 7px;
}
